<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.know.info.mapper.OrderMapper">

    <!--DATE_FORMAT(b.CREATE_TIME, '%Y-%m-%d') AS E_DATE-->
    <select id="queryListMapper" resultType="UserFamilyDto" >
        SELECT id, value,name,DATE_FORMAT(dates, '%Y-%m-%d') AS dates
        FROM order_from
    </select>

</mapper>
